
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

div.wide {
    margin: 10px;
    width: 100%;
    display: inline-block;
}

#price {
    padding: 1.5em;
    font-size: x-large;
}

#discount {
    padding: 1.5em;
    font-size: 1em;
}

.discountdiv .ui-slider-track {
    margin-left: 120px;
    margin-top: 17px;
}